/* IMAGES */
#sony{
    width: 100px;
}
.logo{
    width: 60px;
}
.returnal_logo, .it_takes_two_logo, .ps_plus_logo{
    width: 200px;
}
.ps_plus_games{
    height: 100%;
    object-fit: fill;
}
.jumbo{
    min-height:40vh;
    object-fit: cover;
}
/* BUTTONS */
.btn_buy_now{
    width: 30%;
    background-color: #d14d24;
    color: white;
    border: none;
}
.btn_more_info{
    width: 200px;
    background-color: #0065ca;
    color: white;
    border: none;
}
.btn_small{
    width: 130px;
}
.btn_ps_plus{
    border: none;
    color: #0065ca;
    background-color: #d9dadc;
}
/* TEXT */
.txt_blu{
    color: #0065ca;
}
.txt_grey{
    color: #7b7b7b;
}
/* MISC */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
main{
    padding-top: 100px;
}
/* EFFECTS */
.games > * > *{
    border-radius: 20px;
    border: 5px solid transparent;
    padding: 5px;
}
.games > * > *:hover{
    border: 5px solid #0065ca;
    position: relative;
    bottom: 25px;
    padding: 5px;
    /*SMOOTH ANIMATION */
}
.products > *{
    border-bottom: 5px solid transparent;
    padding: 5px;
}
.products > *:hover, .active{
    border-bottom: 5px solid #0065ca;
    position: relative;
    bottom: 25px;
    padding: 5px;
    /*SMOOTH ANIMATION */
}
.new_releases > * > * > img{
    border-radius: 20px;
}