/* BACKGROUNDS */
.bg_ps_plus{
    background-color: #bebcbb;
}
.bg_ps_now{
    background-color: #161c3b;
}
.bg_footer{
    background-color: #00439c;
}
/* IMAGES */
#sony{
    width: 100px;
}
.logo_nav{
    width: 20px;
}
.logo{
    width: 60px;
}
.returnal_logo, .it_takes_two_logo, .ps_plus_logo, .sie_logo{
    width: 200px;
}
.ps_plus_games{
    height: 100%;
    object-fit: fill;
}
.jumbo{
    min-height: 40vh;
    object-fit: cover;
}
.jumbo_itt{
    min-height: 50vh;
    object-fit: cover;
}
/* BUTTONS */
.btn_buy_now{
    width: 120px;
    background-color: #d14d24;
    color: white;
    border: none;
}
.btn_more_info{
    width: 200px;
    background-color: #0065ca;
    color: white;
    border: none;
}
.btn_small{
    width: 130px;
}
.btn_ps_plus{
    border: none;
    color: #0065ca;
    background-color: #d9dadc;
}
/* TEXT */
.txt_blu{
    color: #0065ca;
}
.txt_grey{
    color: #7b7b7b;
}
/* MISC */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
main{
    padding-top: 100px;
}
ul{
    list-style-type: none;
}
/* EFFECTS */
.btn:hover{
    box-shadow: 0 0 1px 2px white inset;
    border: 3px solid inherit;
    color: inherit;
}
.btn{
    border: 3px solid transparent;
}
li > a:hover{
    color: rgba(0, 0, 0, 1);
}
.games > * > *{
    border-radius: 20px;
    border: 5px solid transparent;
    padding: 5px;
    transition: transform .5s;
}
.games > * > *:hover, .selected{
    border: 5px solid #0065ca;
    box-shadow: 10px 10px 30px black;
    transform: translatey(-15px);
    cursor: pointer;
}
.games > * > *:hover{
    transform: translatey(-15px);
    padding: 5px;
    box-shadow: 10px 10px 30px black;
    cursor: pointer;
}
.new_game, .img_anim{
    box-shadow: none;
    transition: transform .5s;
}
.new_game:hover, .img_anim:hover{
    transform: scale(110%);
    transition: transform .5s;
    cursor: pointer;
}
.new_game>img, .img_anim>img{
    box-shadow: 10px 10px 30px transparent;
    transition: box-shadow .5s;
}
.new_game:hover>img, .img_anim:hover>img{
    box-shadow: 10px 10px 30px black;
    cursor: pointer;
}
.products > *{
    border-bottom: 5px solid transparent;
    padding: 5px;
    opacity: .5;
    transition: transform .2s, border .2s, opacity .2s;
}
.products > *:hover, .active{
    border-bottom: 5px solid #0065ca;
    transform: translatey(-15px);
    padding: 5px;
    opacity: 1;
    cursor: pointer;
}
.new_releases > * > * > img{
    border-radius: 20px;
}